<nav class='teal z-depth-0'>
  <div class='nav-wrapper'>
    <div class='row'>
      <div class='col s12'>
        <a href='#' data-activates='mobile-demo' class='button-collapse show-on-large'>
          <i class='material-icons'>menu</i>
        </a>
        <a href='#' class='brand-logo' target='_blank'>Kumu</a>
        <ul class='right hide-on-med-and-down'>
          <li>
            <a href='#' target='_blank'>About Us</a>
          </li>
          <% if current_user %>
          <li><%= link_to "Profile", "users/#{current_user[:id]}" %></li>
          <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Create Account", new_user_path %></li>
          <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <ul class='side-nav' id='mobile-demo'>
      <li>
        <a href='#' target='_blank'>About Us</a>
      </li>
      <% if current_user %>
      <li><%= link_to "Profile", "users/#{current_user[:id]}" %></li>
      <li><%= link_to "Log Out", logout_path %></li>
    <% else %>
      <li><%= link_to "Create Account", new_user_path %></li>
      <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
<%= form_for @user do |f| %>
<div class="grey lighten-4 z-depth-3">
  <div class="container">
    <h3 class="center-align">Edit Profile</h3>
    <div>
      <h5>Last Name:</h5>
      <%= f.text_field :last_name %>
      <h5>Password:</h5>
      <%= f.text_field :password_digest, value: nil, placeholder: "update password" %>
      <h5>Bio:</h5>
      <%= f.text_area :bio, class:"materialize-textarea"%>
    </div>
    <div class="center-align">
      <%= f.submit "Update Profile", class:"btn-flat"%>
      <%= link_to "Back", @user, class:"btn-flat"%>
      <br/>
    </div>
  </div>
</div>
<% end %>
