<div class="container grey lighten-4 z-depth-3">
  <div class="row">
    <div class="col m10 offset-m1">
      <div class="center">
        <br/>
        <h3>Welcome to
          <strong>KUMU</strong>
        </h3>
        <br/>
      </div>
      <div class="center">
        <img src="http://i.imgur.com/792lpez.jpg?2" class="z-depth-3"/>
      </div>
      <br>
      <%= form_for @user do |f| %>
      <div>
        <%= f.text_field :first_name, placeholder: "First Name" %>
      </div>
      <div>
        <%= f.text_field :last_name, placeholder: "Last Name" %>
      </div>
      <div>
        <%= f.text_field :username, placeholder: "Email" %>
      </div>
      <div>
        <%= f.password_field :password, placeholder: "Password" %>
      </div>
      <div>
        <%= f.text_field :bio, placeholder: "Bio" %>
      </div>
      <div class="center-align">
        <%= f.submit "Kumu Up", class:"btn-flat grey lighten-2" %>
        <% end %>
      </div>
      <br/>
    </div>
  </div>
</div>
