<head></head>
<body class="user-html">
  <nav class='teal z-depth-0'>
    <div class='nav-wrapper'>
      <div class='row'>
        <div class='col s12'>
          <a href='#' data-activates='mobile-demo' class='button-collapse show-on-large'>
            <i class='material-icons'>menu</i>
          </a>
          <a href='#' class='brand-logo' target='_blank'>Kumu</a>
          <ul class='right hide-on-med-and-down'>
            <li>
              <a href='/' target='_blank'>Home</a>
            </li>
            <li>
              <a href='/' target='_blank'>About Us</a>
            </li>
            <% if current_user %>
            <li><%= link_to "Log Out", logout_path %></li>
            <% else %>
            <li><%= link_to "Create Account", new_user_path %></li>
            <li><%= link_to "Log In", login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <ul class='side-nav' id='mobile-demo'>
        <li>
          <a href='#' target='_blank'>About Us</a>
        </li>
        <% if current_user %>
        <li><%= link_to "Profile", "users/#{current_user[:id]}" %></li>
        <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
        <li><%= link_to "Create Account", new_user_path %></li>
        <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <h2 class="center-align">
    Welcome,
    <%= @user.first_name.capitalize %>!
  </h2>
  <div class="classrooms">
    <h3>Classrooms:</h3><br/>
    <button class="btn btn-large blue">class1</button>
    <br/><br/>
    <button class="btn btn-large blue">class2</button>
    <br></br>
    <button class="btn btn-large blue">class3</button><br/><br/>

    <form class="input-field find">
      <div>
        <input type="text" id="name">
        <label class="active" for="name">join or create classroom</label>
      </div>
    </form>
  </div>
  <br/>
  <br/>
  <div style="class = row main-content">
    <div class="col s4 user-img">
      <%= image_tag @user.image.url('medium'), :class => "user-img", :alt => image_alt("user picture here") %>
    </div>
  </div>
  <div class="col s6 info-center">
    <div class="info-box">
      <ul>
        <li class="bio">
          <h5>Bio:<%= @user.bio%></h5>
        </li>
      </ul>
    </div>
  </div>
</div>
<br/>
<hr class="user-hr"/>
<div class="stats">
  <h4>Achievements / stats:</h4>
  <ul class="specific-stats">
    <li class="bio">User Since:
      <%= @user.created_at.strftime("%B %d, %Y") %></li>
    </ul>
  </div>
  <div class="edit-profile">
    <%= link_to "Edit Profile", "#{current_user[:id]}/edit" %>
  </div>
</body>
