<div class="user-html">
  <h2 class="center-align">
    Welcome,
    <%= @user.first_name.capitalize %>!
  </h2>
  <div class="classrooms">
    <h3>Classrooms:</h3><br>
    <button class="btn btn-large blue">class1</button>
    <br><br>
    <button class="btn btn-large blue">class2</button>
    <br></br>
    <button class="btn btn-large blue">class3</button><br><br>

    <form class="input-field find">
      <div>
        <input type="text" id="name">
        <label class="active" for="name">join or create classroom</label>
      </div>
    </form>
  </div>
  <br>
  <br>
  <div style="class = row main-content">
    <div class="col s4 user-img">
      <div>
        <%= image_tag @user.image.url('medium'), :class => "user-img", :alt => image_alt("user picture here") %>
      </div>
    </div>
    <div class="col s6 info-center">
      <div class="info-box">
        <ul>
          <li class="bio">
            <h5>Bio:<%= @user.bio%></h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <hr class="user-hr"/>
  <div class="stats">
    <h4>Achievements / stats:</h4>
    <ul class="specific-stats">
      <li class="bio">User Since:
        <%= @user.created_at.strftime("%B %d, %Y") %></li>
    </ul>
  </div>
  <div class="edit-profile">
    <%= link_to "Edit Profile", "#{current_user[:id]}/edit" %>
  </div>
</div>
