<div class="center-align grey lighten-4">
  <div class="container grey lighten-4">
    <br/>
    <a class='dropdown-button btn-flat white grey-text text-darken-2' href='#' data-activates='dropdown1'>Filter By</a>
  </div>
  <!-- Dropdown Trigger -->
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content s4'>
    <li>
      <%= link_to "Votes", posts_path, class:"btn-flat grey-text center text-darken-2"%>
    </li>
    <li>
      <%= link_to "Newest", posts_by_date_path, class:"btn-flat grey-text center text-darken-2"%>
    </li>
  </ul>
</div>
<br/>
<% @posts.each do |post| %>
<div class="row card #fafafa hoverable">
  <div class="col m12 center-align">
    <button class="waves-effect waves-green btn-flat left">
      <%= link_to like_post_path(post), method: :put do %>
      <i class="material-icons clear">arrow_upward</i>
      <%= post.get_upvotes.size %>
      <% end %>
    </button>
  </div>
  <div class="col s1 card-content black-text center-align">
    <h2><%= post.get_upvotes.size - post.get_downvotes.size %></h2>
  </div>
  <div class="col s11 card-content black-text">
    <h2 class="title" href="http://<%= post.url %>" target="_blank">
      <%= link_to post.name, post_path(post.id)%>
    </h2>
    <h6 class="grey-text text-darken-3">
      <%= post.description %>
    </h6>
  </div>
  <div class="col m12 center-align">
    <button class="waves-effect waves-red btn-flat left">
      <%= link_to dislike_post_path(post), method: :put do %>
      <i class="material-icons clear">arrow_downward</i>
      <%= post.get_downvotes.size %>
      <% end %>
    </button>
  </div>
</div>
<% end %>
<div class="center-align grey lighten-4">
  <%= link_to "Home", home_path, class:"btn-flat grey-text text-darken-2"%>
</div>
