<div class="row grey lighten-4 z-depth-3">
    <div class="grey lighten-4">
      <h3 class="center container">
        <br /><%= @post.name %><br />
        <%= link_to "Edit Post", edit_post_path(@post.id), class:"btn-flat"%>
        <%= link_to "Delete", @post, method: :delete, class:"btn-flat"%>
      </h3>
      <div class="container">
        <h5><%= @post.description %></h5>
        <h5>
          <a href="http://<%= @post.url %>"><%= @post.url%></a>
        </h5>
        <div class="white">
          <p><%= markdown(@post.content) %></p>
        </div>
      </div>
  </div>
  <div class="center-align grey lighten-4 container">
    <%= link_to "Back", posts_path, class:"btn-flat"%>
  </div>
</div>
